In [ ]:
# python collection
# -list
# -tuple
# -Dictionary
# -set

In [ ]:
 #list
# -multiple and duplicate data
# -Indexing
# -Ordered
# -Mutable

In [1]:
a = [1,2,3,4,5,6]
b = ['Apple','Ball','Cat','Dog','Apple']
c = list()

print(type(a))
print(type(b))
print(type(c))

<class 'list'>
<class 'list'>
<class 'list'>

In [2]:
print(a)
print(b)
print(c)

[1,2,3,4,5,6]
['Apple','Ball','Cat','Dog','Apple']
[]

[1, 2, 3, 4, 5, 6]
['Apple', 'Ball', 'Cat', 'Dog', 'Apple']
[]

[]

In [3]:
b = ['Apple','Ball','Cat','Dog','Apple']
print(b[0])
print(b[1])

Apple
Ball

In [4]:
b = ['Apple','Ball','Cat','Dog','Apple']
print(b[0])
print(b[1])
print(b[2])

Apple
Ball
Cat

In [6]:
a = ['Apple','Ball','Cat','Dog','Apple']
b = a[0:3]
b

['Apple', 'Ball', 'Cat']

In [8]:
a = ['Apple','Ball','Cat','Dog','Apple']
a[0:6:2]

['Apple', 'Cat', 'Apple']

In [9]:
#we can use operator such as + * in the list
a = ['Apple','Ball','Cat','Dog','Apple']
b = [1,2,3]
c = a+b
print(c)

['Apple', 'Ball', 'Cat', 'Dog', 'Apple', 1, 2, 3]

In [10]:
a = ['Apple','Ball','Cat','Dog','Apple']
print(a*2)

['Apple', 'Ball', 'Cat', 'Dog', 'Apple', 'Apple', 'Ball', 'Cat', 'Dog', 'Apple']

In [11]:
a = ['Apple','Ball','Cat','Dog','Apple']
print(a*4)

['Apple', 'Ball', 'Cat', 'Dog', 'Apple', 'Apple', 'Ball', 'Cat', 'Dog', 'Apple', 'Apple', 'Ball', 'Cat', 'Dog', 'Apple', 'Apple', 'Ball', 'Cat', 'Dog', 'Apple']

In [12]:
a = []
n = int(input("enter n ="))
for i in range(n):
    x = int(input("enter x ="))
    a = a+[x]
    
print(a)

enter n =5
enter x =56
enter x =67
enter x =87
enter x =47
enter x =78
[56, 67, 87, 47, 78]

In [14]:
a = []
n = int(input("enter n ="))
for i in range(n):
    x = str(input("enter x ="))
    a = a+[x]
    
print(a)

enter n =5
enter x =neha
enter x =komal
enter x =pooja
enter x =preesha
enter x =bhgf
['neha', 'komal', 'pooja', 'preesha', 'bhgf']

In [15]:
a = []
n = int(input("enter n ="))
for i in range(n):
    x = (input("enter x ="))
    a = a+[x]
    
print(a)

enter n =4
enter x =7
enter x =neha
enter x =10.4
enter x =bhgf
['7', 'neha', '10.4', 'bhgf']

In [16]:
a = [234, 456, 34, 67, 58]
print("the max value in a",max(a))
print("The min value in a",min(b))
print("The sum of the list is",sum(a))
print("The avg of the no in the list is",sum(a)/len(a))

the max value in a 456
The min value in a 1
The sum of the list is 849
The avg of the no in the list is 169.8

In [17]:
# mutable
a = [234, 456, 34, 67, 58]
print("the max value in a",max(a))
print("The min value in a",min(b))
print("The sum of the list is",sum(a))
print("The avg of the no in the list is",sum(a)/len(a))
a.sort()
print(a)
a.reverse()
print(a)

the max value in a 456
The min value in a 1
The sum of the list is 849
The avg of the no in the list is 169.8
[34, 58, 67, 234, 456]
[456, 234, 67, 58, 34]

In [ ]:
# input data
# apend() insert() extend()

# delete data

# del remove() pop()

In [19]:
a = []
a.append("Apple")
a.append("Ball")
a

['Apple', 'Ball']

In [20]:
a = ['Apple','Ball','Cat','Dog','Apple']
a.append("Fish")
a

['Apple', 'Ball', 'Cat', 'Dog', 'Apple', 'Fish']

In [22]:
a = ['Apple','Ball','Cat','Dog','Apple']
a.insert(2,"rat")
a

['Apple', 'Ball', 'rat', 'Cat', 'Dog', 'Apple']

In [23]:
a = ['Apple','Ball','Cat','Dog','Apple']
a.extend([1,2,3,4,5,6,7,8,9])
a

['Apple', 'Ball', 'Cat', 'Dog', 'Apple', 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [24]:
a = ['Apple','Ball','Cat','Dog','Apple']
a.extend(1,2,3,4,5,6,7,8,9)
a

TypeError: list.extend() takes exactly one argument (9 given)

In [25]:
# Reading 
a = ['Apple','Ball','Cat','Dog','Apple']
for i in a:
    print(a)

['Apple', 'Ball', 'Cat', 'Dog', 'Apple']
['Apple', 'Ball', 'Cat', 'Dog', 'Apple']
['Apple', 'Ball', 'Cat', 'Dog', 'Apple']
['Apple', 'Ball', 'Cat', 'Dog', 'Apple']
['Apple', 'Ball', 'Cat', 'Dog', 'Apple']

In [26]:
a = ['Apple','Ball','Cat','Dog','Apple']
for i in a:
    print(i)

Apple
Ball
Cat
Dog
Apple

In [27]:
a = []
n = int(input("enter n ="))
for i in range(n):
    x = (input("enter x ="))
    a.append(x)
    
    
print(a)

enter n =2
enter x =apple
enter x =ball
['apple', 'ball']

In [28]:
# update
a = ['Apple','Ball','Cat','Dog','Apple']
a[0] = 'apple'
a

['apple', 'Ball', 'Cat', 'Dog', 'Apple']

In [29]:
a = ['Apple','Ball','Cat','Dog','Apple']
a[0:2] = ['apple','ball']
a

['apple', 'ball', 'Cat', 'Dog', 'Apple']

In [31]:
# del remove() pop()
a = ['Apple','Ball','Cat','Dog','Apple']
del a[0]
print(a)

['Ball', 'Cat', 'Dog', 'Apple']

In [32]:
a = ['Apple','Ball','Cat','Dog','Apple']
del a[3]
print(a)

['Apple', 'Ball', 'Cat', 'Apple']

In [33]:
# counting start from the last bcz of -
a = ['Apple','Ball','Cat','Dog','Apple']
del a[-2]
print(a)

['Apple', 'Ball', 'Cat', 'Apple']

In [34]:
a = ['Apple','Ball','Cat','Dog','Apple']
del a[0:3]
print(a)

['Dog', 'Apple']

In [35]:
a = ['Apple','Ball','Cat','Dog','Apple']
a.remove('Ball')
print(a)

['Apple', 'Cat', 'Dog', 'Apple']

In [36]:
a = ['Apple','Ball','Cat','Dog','Apple']
a.remove('Apple')
print(a)

['Ball', 'Cat', 'Dog', 'Apple']

In [37]:
a = ['Apple','Ball','Cat','Dog','Apple']
c = a.count("Apple")
print(c)
for i in range(c):
    a.remove('Apple')
print(a)

2
['Ball', 'Cat', 'Dog']

In [41]:
# delect and pop are almost similar

a = ['Apple','Ball','Cat','Dog','Apple']
b =a.pop()
print(b)

Apple

In [42]:
a = ['Apple','Ball','Cat','Dog','Apple']
b =a.pop(0)
print(a)
print(b)

['Ball', 'Cat', 'Dog', 'Apple']
Apple

In [43]:
a = ['Apple','Ball','Cat','Dog','Apple']
a.index('Apple')

0

In [44]:
a = ['Apple','Ball','Cat','Dog','Apple']
a.index('Ball')

1

In [45]:
a = ['Apple','Ball','Cat','Dog','Apple']
l = len(a)
for i in range(l):
    if a[i] == 'Apple':
        print(i)

0
4

In [47]:
a = ['Apple','Ball','Cat','Dog','Apple']
l = len(a)
i = 0
while i<l:
    print(a[i])
    i = i+1

Apple
Ball
Cat
Dog
Apple

In [48]:
# multi dimensional array

#a = [[1,2,3,4,5,6,7,8,9]]

In [49]:
# list inside list

a =[[1,2,3],
    [4,5,6],
    [7,8,9]]
print(type(a))
print(len(a))

<class 'list'>
3

In [50]:
print(a)
print(a[2])

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
[7, 8, 9]

In [51]:
# a[i][j]

a[0][1]

2

In [53]:
a = [["ram",23,"ktm"],
    ['shyam',24,"bhaktapur"],
    ["hari",25,"lalitpur"]]
print(type(a))
print(len(a))

<class 'list'>
3

In [1]:
data = []
n = int(input("enter n ="))
for i in range(n):
    name = (input(" enter name ="))
    age = int (input(" enter age ="))
    address = (input(" enter address ="))
    data.append([name,age,address])
print(data)

enter n =2
 enter name =neha
 enter age =23
 enter address =kathmandu
 enter name =komal
 enter age =21
 enter address =bhaktapur
[['neha', 23, 'kathmandu'], ['komal', 21, 'bhaktapur']]

In [2]:
 a = [['neha', 23, 'kathmandu'], ['komal', 21, 'bhaktapur']]
print(a[0])

['neha', 23, 'kathmandu']

In [3]:
a = [['neha', 23, 'kathmandu'], ['komal', 21, 'bhaktapur']]
print(a[0][0])

neha

In [5]:
a = [['neha', 23, 'kathmandu'], ['komal', 21, 'bhaktapur']]
a[0] = ['neha', 23, 'janakpur']
print(a)

[['neha', 23, 'janakpur'], ['komal', 21, 'bhaktapur']]

In [6]:
a = [['neha', 23, 'kathmandu'], ['komal', 21, 'bhaktapur']]
a[0] = ['neha', 23, 'janakpur']
a

[['neha', 23, 'janakpur'], ['komal', 21, 'bhaktapur']]

In [9]:
a = [['neha', 23, 'kathmandu'], ['komal', 21, 'bhaktapur']]
a.insert(1,['hhhh',55,'knvfdhb',6598758485748])
a

[['neha', 23, 'kathmandu'],
 ['hhhh', 55, 'knvfdhb', 6598758485748],
 ['komal', 21, 'bhaktapur']]

In [10]:
a = [['neha', 23, 'kathmandu'], ['komal', 21, 'bhaktapur']]
a[0].insert(2,89687556)
a

[['neha', 23, 89687556, 'kathmandu'], ['komal', 21, 'bhaktapur']]

In [11]:
a = [['neha', 23, 'kathmandu'], ['komal', 21, 'bhaktapur']]
b = (1 ,2 ,3)
a.extend(b)
a

[['neha', 23, 'kathmandu'], ['komal', 21, 'bhaktapur'], 1, 2, 3]

In [2]:
a = [['neha', 23, 'kathmandu'], ['komal', 21, 'bhaktapur']]
b = [[1 ,2 ,3]]
a.extend(b)
a

[['neha', 23, 'kathmandu'], ['komal', 21, 'bhaktapur'], [1, 2, 3]]

In [3]:
a = [['neha', 23, 'kathmandu'], ['komal', 21, 'bhaktapur']]
del a[0]
a

[['komal', 21, 'bhaktapur']]

In [5]:
a = [['neha', 23, 'kathmandu'], ['komal', 21, 'bhaktapur']]
x = a.pop(0)
print(a)
print(x)

[['komal', 21, 'bhaktapur']]
['neha', 23, 'kathmandu']

In [7]:
a = ["Ram","shyam","hari","Ram","shyam"]
if "Ram" in a:
    print("yes")
    print(a.count("Ram"))

yes
2

In [10]:
#search in list inside list

a = [['neha', 23, 'kathmandu'], ['komal', 21, 'bhaktapur']]
name = input("enter name =")
for i in a:
    if name in i:
        print(i)

enter name =neha
['neha', 23, 'kathmandu']

In [11]:
a = [['neha', 23, 'kathmandu'], ['komal', 21, 'bhaktapur']]
name = input("enter name =")
for i in a:
    if name in i[0]:
        print(i)

enter name =neha
['neha', 23, 'kathmandu']

In [20]:
a = [['neha', 23, 'kathmandu'], ['komal', 21, 'bhaktapur']]
name = input("enter name =").lower()
for i in a:
    if name == i[0].lower():
        print(i)
else:
    print("no result found")

enter name =komal
['komal', 21, 'bhaktapur']
no result found

In [24]:
c = 0
a = [['neha', 23, 'kathmandu'], ['komal', 21, 'bhaktapur']]
name = input("enter name =").lower()
for i in a:
    if name == i[0].lower():
        print(i)
        c = c+1
if c == 0:
    print("no result found")
else:
    print(c,"records found")

enter name =neha
['neha', 23, 'kathmandu']
1 records found

In [26]:

n = int(input("enter n ="))
name = input("enter name =")
age = int(input("enter age ="))

print(n)
print(name)
print(age)

enter n =2
enter name =neha
enter age =23
2
neha
23