In [2]:
# range(5)       0,1,2,3,4     for(i=0;i<5;i++)
# range(1,5)     1,2,3,4       for(i=1;i<5;i++)
# range(1,10,2)  1,3,5,7,9     for(i=1;i<10;i=i+2)


for i in range(5):
    print(i)

0
1
2
3
4

In [7]:
for i in range(1,5):
    print(i,"neha sah")

1 neha sah
2 neha sah
3 neha sah
4 neha sah

In [8]:
for i in range(1,10,2):
    print(i,"hello world")

1 hello world
3 hello world
5 hello world
7 hello world
9 hello world

In [12]:
n=int(input("enter the value n="))
for i in range(1,11):
    print(n*i)

enter the value n=2
2
4
6
8
10
12
14
16
18
20

In [13]:
n=int(input("enter the value n="))
for i in range(1,5):
    print(n*i)

enter the value n=2
2
4
6
8

In [14]:
n=int(input("enter the value n="))
for i in range(1,11):
    print(n,"*",i,"=",n*i)

enter the value n=2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [16]:
n=int(input("enter the value n="))
for i in range(1,11):
    print(n,"*",i,"=",n*i)

enter the value n=4
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

In [17]:
s=0
for i in range(1,5):
    s=s+i
    print(s)

1
3
6
10

In [18]:
s=0
for i in range(1,5):
    s=s+i
print(s)

10

In [19]:
s=1
for i in range(1,5):
    s=s*i
print(s)

24

In [20]:
s=1
for i in range(1,5):
    s=s*i
    print(s)

1
2
6
24

In [21]:
s=1
x=int(input("enter initial no x="))
y=int(input("enter final no y="))
for i in range(x,y):
    s=s*i
    print(s)

enter initial no x=1
enter final no y=5
1
2
6
24

In [22]:
s=1
x=int(input("enter initial no x="))
y=int(input("enter final no y="))
for i in range(x,y+1):
    s=s*i
    print(s)

enter initial no x=1
enter final no y=5
1
2
6
24
120

In [23]:
s=1
x=int(input("enter initial no x="))
y=int(input("enter final no y="))
for i in range(x,y+1):
    s=s+i
    print(s)

enter initial no x=1
enter final no y=5
2
4
7
11
16

In [24]:
s=1
x=int(input("enter initial no x="))
y=int(input("enter final no y="))
for i in range(x,y):
    s=s*i
    print(s)

enter initial no x=1
enter final no y=5
1
2
6
24

In [25]:
s=1
x=int(input("enter initial no x="))
y=int(input("enter final no y="))
for i in range(x,y+1):
    s=s-i
    print(s)

enter initial no x=1
enter final no y=5
0
-2
-5
-9
-14

In [28]:
s=1
x=int(input("enter initial no x="))
y=int(input("enter final no y="))
for i in range(x,y+1):
    s=s-i
    print(s)

enter initial no x=1
enter final no y=5
0
-2
-5
-9
-14

In [34]:

x=int(input("enter initial no x="))
y=int(input("enter final no y="))
for i in range(x,y+1):
    x=x*i
print(x)

enter initial no x=1
enter final no y=5
120

In [33]:
s=1
x=int(input("enter initial no x="))
for i in range(1,x+1):
    s=s-i
print(s)

enter initial no x=5
-14

In [36]:
for i in range(2):
    x=input("enter x=")
    print(x)

enter x=10.3
10.3
enter x=11.4
11.4

In [39]:
for i in range(2):
    x=int(input("enter x="))
    print(x)

enter x=2
2
enter x=4
4

In [41]:
s=0
for i in range(5):
    x=int(input("enter x="))
    s=s+x
        
print(s)

enter x=3
enter x=4
enter x=5
enter x=6
enter x=7
25

In [42]:
s=0
for i in range(5):
    x=int(input("enter x="))
    s=s+x
    total=s/10
        
print(total)

enter x=2
enter x=3
enter x=5
enter x=6
enter x=7
2.3

In [ ]:
s=str()
for i in range(5):
    x=(input("enter x="))
    s=s+x
    
print(s)

In [1]:
s=str()
for i in range(5):
    x=(input("enter x="))
    s=s+x
    
        
print(s)

enter x=neha
enter x=komal
enter x=pooja
enter x=preeti
enter x=preesha
nehakomalpoojapreetipreesha

In [6]:
s=str()
for i in range(5):
    x=(input("enter x ="))
    s = s+x + "  "
    
        
print(s)

enter x =nn
enter x =mm
enter x =kk
enter x =ll
enter x =hh
nn  mm  kk  ll  hh

In [ ]:
s=str()
for i in range(5):
    name=input("enter name=")
    phone=input("enter phone=")
    s=s+name+" "+phone+"\n"
    
print(s)

enter name=neha
enter phone=7758399362
enter name=komal
enter phone=903743635673
enter name=pooja
enter phone=09748936783
enter name=hufirfu

In [1]:
for i in range(5,0,-1):
    print(i)

5
4
3
2
1

In [2]:
for i in range(1,10):
    if i%2==0:
        print(i)

2
4
6
8